#!/bin/bash

# Launcher for script
# Double-click this file on macOS to run the script in Terminal.

SCRIPT_WORKING_DIR=~/code/git-toolkit/list-weekly-prs
SCRIPT_ABS_PATH=~/code/git-toolkit/list-weekly-prs/list_weekly_prs.sh

# Params (example)
REPO="linktivity/ars-neo-miniapp,linktivity/wechat-mini-app"

cd "$SCRIPT_WORKING_DIR"

# Execute the script (example)
bash "$SCRIPT_ABS_PATH" --repos="$REPO" "$@"
